<header>
    <section class="header-principal">
        <div class="log">
            <h1>ACFAR</h1>
        </div>
        <div class="nav">            
            <nav class="menu">
                <ul>
                    <li><a  routerLink="">Estoque</a></li>
                    <li><a  routerLink="cadastro">Cadastrar</a></li>    
                </ul>
            </nav>
        </div>
    </section>
    <section class="header-principal-mobile">
        <div class="log">
            <h1>ACFAR</h1>
        </div>
        <div class="nav">
            <input type="checkbox" id="bt_menu1">
            <label for="bt_menu1">&#9776;</label>
            <nav class="menu-mobile">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Cadastrar</a>
                        <ul>
                            <li><a href="#">Clientes</a></li>
                            <li><a href="#">Funcionarios</a></li>
                            <li><a href="#">Vendedores</a></li>
                        </ul>
                    </li>
    
                </ul>
            </nav>
        </div>
    </section>
</header>